<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MongoApp</a>
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{ path('app_home')}}>Home</a>
        </li>
        <li class="nav-item">
          {%if is_granted('ROLE_ADMIN')%}
          <a class="nav-link" href={{path('app_dashboard')}}>Dashboard</a>
          {%endif%}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Menü
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href={{ path('product_add')}}>Produkt anlegen</a></li>
            <li><a class="dropdown-item" href={{ path('product_list')}}>Meine Produkte</a></li>
            <li><a class="dropdown-item" href={{ path('profile_add')}}>Mein Profil</a></li>
          </ul>
        </li>
      </ul>
          <a class="nav-link" href="#">{{ app.user.email }}</a>      
          <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>      
   {%endif%}       
       {%if not is_granted('IS_AUTHENTICATED_FULLY')%}
       <form class="d-flex">          
          <a class="nav-link" href="{{ path('app_register') }}">Register</a>
      </form>
     {%endif%}
    </div>
  </div>
</nav>